.card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.1, 1.1);
  transition: all 800ms;
}

.go-top {
  display: flex;
  flex-direction: row-reverse;
}

.socials {
  list-style-type: none;
}

.ul_no-bullets {
  list-style-type: none;
  display: inline-flex;
  gap: 50px;
}
